<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Them link bootstrap-->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/main.css">

    <title>Bức thư gửi tương lai</title>
</head>
<body>
<div class="container">


    <h1>My dearly future!</h1>


    <a href="/sendMail">Đăng ký thành viên </a>

    <!--Đoạn này Hằng và Minh code-->
    <form action="/sendMail" method="post">

        <div class="form-group">
            <label for="InputLetter">INPUT YOUR FUTURE LETTER HERE</label>
            <textarea class="form-control" id="exampleFormControlTextarea1"
                      rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="WriteDate">Sending on:</label>
            <input type="datetime-local" class="form-control" id="WriteDate" name="send_on"
                   aria-describedby="Date" placeholder="Ender Sending Date">
        </div>


        <div class="form-group">
                    <label for="formGroupExampleInput1">Tên người gửi </label>
                    <input name="from_name" type="text" class="form-control"
                           id="formGroupExampleInput1" placeholder="Enter name">
        </div>

        <div class="form-group">
                    <label for="exampleInputEmail1">Email người gửi </label>
                    <input name="from_email" type="email" class="form-control"
                           id="exampleInputEmail1"
                           aria-describedby="emailHelp" placeholder="Enter email">
        </div>

        <div class="form-group">
                    <label for="formGroupExampleInput2">Tên người nhận</label>
                    <input name="to_name" type="text" class="form-control"
                           id="formGroupExampleInput2" placeholder="Enter name">
        </div>

        <div class="form-group">
                    <label for="exampleInputEmail2">Email người nhận </label>
                    <input name="to_email" type="email" class="form-control"
                           id="exampleInputEmail2"
                           aria-describedby="emailHelp" placeholder="Enter email">
        </div>

        <div class="form-group">
        <button type="SEND TO THE FUTURE" class="btn btn-primary">SEND TO THE FUTURE</button>
        </div>

    </form>



<!--các file js sau đây luôn luôn nên import ở cuối của body, để giảm thời gian load nội dung-->
<script src="/assets/jquery/jquery.js"></script>
<script src="/assets/popper/popper.js"></script>
<script src="/assets/bootstrap/js/bootstrap.js"></script>
</body>
</html>



