<!--viet ma html:5 tab -->
<!--viet chu thich ca dong ctrl/-->
<!--viet chu thich mot phan ctrl shift /-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bức thư gửi tương lai</title>
</head>
<body>



</body>
</html>



